* {
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif !important;
    /*color: var(--color);*/
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #f7fafc;
    font-family: 'Nunito', sans-serif;
}

.main-container {
    width: 100%;
    height: 100%;
    padding: 20px 20px 0;
}

.page-header {
    text-align: center;
    margin-bottom: 10px;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-top: 15px;
}

.box {
    width: 50%;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
}

.box .header {
    font-weight: bold;
}

.box .content {
    margin-top: 10px;

}

.box .content table {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    font-size: 13px;
}

.box .content table th {
    color: gray;
    font-size: 14px;
}

.box .content table td.address_detail {
    width: 350px;
    position: relative;
    padding-top: 7px;
}

.pagination {
    position: absolute;
    top: unset;
    bottom: -28px;
    left: 0;
    display: flex;
    right: unset;
}

.pagination .item {
    background: #dcdcdc;
    padding: 4px 8px;
    margin: 1px;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}

.pagination .item.active {
    background: #b2b2b2;
    color: white;
}

table td.address_detail .tooltip {
    position: absolute;
    right: 0;
    top: -6px;
}

table td.address_detail .tooltip .text {
    cursor: pointer;
    text-decoration: underline;
    color: #00c851;
    font-size: 10px;
}

table td.address_detail .tooltip .tooltip-box {
    display: none;
    transition: 300ms all;
    position: absolute;
    left: unset;
    top: 100%;
    background: lightgrey;
    padding: 5px 10px;
    margin-left: 2px;
    border-radius: 7px;
    width: 150px;
    right: 0;
    text-align: left;
    z-index: 2;
    font-size: 12px;
}

.tooltip-box .item {
    margin-bottom: 5px;
    margin-top: 5px;
}

table td.address_detail .tooltip:hover .tooltip-box {
    display: block;
}

td.button {
    padding-left: 10px;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    transition: 300ms all;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn-update, .btn-save {
    background-color: #00C851;
}

.btn-delete {
    background-color: #ff4444;
}


.list {
    width: 60%;
    min-height: 260px;
}

.create {
    width: 40%;
    position: relative;
}


.create .form-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-grow: revert;
    flex-wrap: wrap;
    gap: 10px;
}

.create .form-container .input-row {
    display: flex;
    flex-direction: column;
    /*margin-bottom: 15px;*/
    flex: 33%;
}

.form-container .input-row label {
    color: gray;
}

.form-container .input-row .input {
    width: 100%;
    border-radius: 5px;
    height: 35px;
    margin-top: 5px;
    border: 1px solid lightgray;
    font-size: 13px;
    padding: 10px;
}

textarea.input {
    height: auto !important;
    resize: none;
}

.input:focus {
    outline: none;
}

select {
    appearance: none;
    padding: 0 0 0 10px !important;
}

.btn-save {
    width: 100px;
    padding: 10px;
}


.validate .input:invalid {
    border-color: #ff4444 !important;
}

.validate .input:required:valid {
    border-color: #00C851 !important;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.new-add {
    font-size: 11px;
    position: absolute;
    right: 20px;
    top: 11px;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

@media only screen and (max-width: 850px) {
    .page-content {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
}
